#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Game;
Comment=A custom build of Sonic Robo Blast 2, a Sonic the Hedgehog fangame based on Doom-Legacy.
Exec="\\$HOME/SRB2_TSoURDt3rd.AppImage"
Icon="\\$HOME/.icons/tsourdt3rd.png"
MimeType=
Name=Sonic Robo Blast 2 - TSoURDt3rd
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
