#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Game;
Comment=heheheha
Exec="\\$HOME/SRB2.AppImage"
Icon=/home/star/.icons/srb2.png
MimeType=
Name=Sonic Robo Blast 2
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
